html {
  font-family: Helvetica;
  text-align: center;
}


h1 {
  font-size: 70px;
}


h3 {
  font-size: 32px;
}


h4 {
  font-size: 32px;
}


.menu {
  font-size: 18px;
}

.exp {
  font-size: 14px;
}
#header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
}
